{% extends 'base.html'%}

{% block content%}
<h1>ABOUT THE WEBSITE</h1>

<p>
    Music has become an integral part of people’s daily life. People hear music all the time; when going to school, having coffee, working out and sometimes even for sleeping. Individuals tend to listen to music that fits their emotions. If they’re happy they’ll listen to upbeat music and when sad they’ll listen to slow music. People do this because music is able to change their mood from one minute to another. Whether it’s rock in the radio or opera in the library music has the power to change people’s emotions. Understanding that music can change people’s emotions is important due to the fact that emotions are important in children’s education and people’s healing process.
</p>
{%endblock%}